.stepper-editable-label {
  display: none !important;
}

.hide-editable {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  overflow: hidden !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  padding: 0 !important;
  border: 0 !important;
}

.hide-editable-text {
  display: none !important;
}



.mat-stepper-horizontal {
    margin-top: 8px;
    color:black;
  }
  .mat-mdc-form-field {
    margin-top: 16px;

  }

  .custom-stepper {
    margin: 20px;
    color: rgb(51, 255, 0);
  }

  .custom-stepper mat-step {
    /* Estilos personalizados para cada paso (mat-step) */
  }

  .custom-stepper mat-step-header {
    /* Estilos personalizados para el encabezado de cada paso (mat-step-header) */
  }

  .custom-stepper mat-step-label {
    /* Estilos personalizados para la etiqueta del paso (mat-step-label) */
  }

  .custom-stepper mat-step-content {
    /* Estilos personalizados para el contenido del paso (mat-step-content) */
  }

  .custom-stepper mat-step-actions {
    /* Estilos personalizados para las acciones del paso (mat-step-actions) */
  }

  .custom-stepper mat-step-header mat-icon {
    /* Estilos personalizados para los iconos en el encabezado del paso (mat-icon) */
  }

  /* Otros estilos personalizados según sea necesario */

  /* ffff */
  .container {
    max-width: 400px;
    margin: 0 auto;
  }

  .my-form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
  }

  .form-group {
    margin-bottom: 15px;
  }

  .form-label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .form-input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  .form-footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }

  .form-button {
    background-color: red;
    color: white;
    position: relative;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  .form-button1 {
    background-color: rgb(85, 0, 255);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
  }
  .form-button2 {
    background-color: rgb(0, 177, 0);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  .form-button3 {
    background-color:red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }


  .mat-mdc-form-field {
    margin-top: 16px;
  }
// alert

.snackbar-error {
  background-color: red;
  color: white;
}

.snackbar-success {
  background-color: green;
  color: white;
}

