<mat-stepper [linear]="isLinear" #stepper>

  <mat-step label="persona" [stepControl]="personForm">


    <ng-template  matStepLabel> <i class="fa fa-user-circle-o fa-2x" aria-hidden="true"></i><br>
      Aprendiz</ng-template>


    <form [formGroup]="personForm" >

      <div class="form-floating mb-3">
        <input type="number" class="form-control" id="floatingInput" placeholder="name@example.com"
          (input)="onIdentificacionInput($event.target.value)" formControlName="identificacion">
        <label for="floatingInput">Identificación</label>
        <div class="text-danger" *ngIf="personForm.get('identificacion').invalid && personForm.get('identificacion').touched">
          Identificación es requerida.
        </div>
      </div>

      <div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com"
            formControlName="nombre1">
          <label for="floatingInput">Primer Nombre</label>
          <div class="text-danger" *ngIf="personForm.get('nombre1').invalid && personForm.get('nombre1').touched">
            Primer nombre es requerida.
          </div>
        </div>

        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com"
            formControlName="nombre2">
          <label for="floatingInput">Segundo Nombre</label>
          <div class="text-danger" *ngIf="personForm.get('nombre2').invalid && personForm.get('nombre2').touched">
            Segundo nombre es requerida.
          </div>
        </div>

        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com"
            formControlName="apellido1">
          <label for="floatingInput">Primer Apellido</label>
          <div class="text-danger" *ngIf="personForm.get('apellido1').invalid && personForm.get('apellido1').touched">
           Primer apellido es requerido.
          </div><!--Alertas  -->
        </div>

        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com"
            formControlName="apellido2">
          <label for="floatingInput">Segundo Apellido</label>
          <div class="text-danger" *ngIf="personForm.get('apellido2').invalid && personForm.get('apellido2').touched">
            Segundo apellido es requerido.
          </div>
        </div>

        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com"
            formControlName="email" required>
          <label for="floatingInput">Correo</label>
          <div class="text-danger" *ngIf="personForm.get('email').invalid && personForm.get('email').touched">
            El correo es requerida.
          </div>
        </div>

        <div class="form-floating mb-3">
          <input type="date" class="form-control" id="floatingInput" placeholder="name@example.com"
            formControlName="fechaNac">
          <label for="floatingInput">Fecha de nacimiento</label>
          <div class="text-danger" *ngIf="personForm.get('fechaNac').invalid && personForm.get('fechaNac').touched">
            Fecha de nacimiento es requerida.
          </div>
        </div>

        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com"
            formControlName="direccion">
          <label for="floatingInput">Dirección</label>
          <div class="text-danger" *ngIf="personForm.get('email').invalid && personForm.get('email').touched">
            La dirreción es requerida
          </div>
        </div>


        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com"
            formControlName="telefonoFijo">
          <label for="floatingInput">Teléfono fijo</label>
        </div>


        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com"
            formControlName="celular">
          <label for="floatingInput">Celular</label>
        </div>

      </div>
      <div class="text-center">
        <button class="btn btn-success" mat-button matStepperNext type="button" (click)="validarCampos()">Seguir</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="matriculaForm" label="Activos">
    <form class="my-form" [formGroup]="matriculaForm">
      <ng-template  matStepLabel> <i class="fa fa-list fa-2x" aria-hidden="true"></i>Matricula</ng-template>
      <div class="form-floating mb-3">
        <select class="form-select" id="programa" aria-label="Floating label select example"
          formControlName="idPrograma">
          <option selected>Selecionar programa</option>
          <option *ngFor='let programa of programas' [ngValue]="programa.id">{{programa.nombrePrograma}}
          </option>
        </select>
        <label for="programa">Programa</label>
        <!-- <div class="valid-feedback" *ngIf="!idTipoGrupo.hasError('required')">
          Valor válido
        </div>
        <div class="invalid-feedback">
          Por favor ingresé un valor válido para el tipo de grupo
        </div> -->
      </div>


      <div class="form-floating mb-3">
        <select class="form-select" id="tipoGrupo" aria-label="Floating label select example"
          formControlName="idTipoGrupo">
          <option selected>Selecionar tipo de grupo</option>
          <option *ngFor='let tipoGrupo of tipoGrupos' [ngValue]="tipoGrupo.id">{{tipoGrupo.nombreTipoGrupo}}
          </option>
        </select>
        <label for="tipoGrupo">Tipo de grupo</label>
        <!-- <div class="valid-feedback" *ngIf="!idTipoGrupo.hasError('required')">
          Valor válido
        </div>
        <div class="invalid-feedback">
          Por favor ingresé un valor válido para el tipo de grupo
        </div> -->
      </div>



      <div class="form-floating mb-3">
        <input type="number" class="form-control" id="floatingInput" placeholder="name@example.com"
          (input)="onNumeroFichaInput($event.target.value)" formControlName="ficha">
        <label for="floatingInput">Número de ficha</label>
        <div class="text-danger" *ngIf="matriculaForm.get('ficha').invalid && matriculaForm.get('ficha').touched">
          El número de ficha es requerida.
        </div>
      </div>




      <div *ngIf="mostrarDatos()">
        <p>Nombre de la ficha: {{ dataFicha.ficha.nombre }}</p>
        <p>Fecha inicial: {{ dataFicha.ficha.fechaInicialGrupo }}</p>
        <p>Fecha final: {{ dataFicha.ficha.fechaFinalGrupo }}</p>
        <p>Estado: {{ dataFicha.ficha.estado_grupo.nombreEstado }}</p>
        <p>Observación: {{ dataFicha.ficha.observacion }}</p>
        <p>Programa: {{ dataFicha.ficha.programa.nombrePrograma }}</p>
      </div>


    </form>

    <div class="text-center">
      <button class="btn btn-danger" mat-button matStepperPrevious>Atrás</button>

      <button class="btn btn-success" mat-button  type="button" (click)="seguirAceptar()">Seguir</button>

    </div>



  </mat-step>

  <mat-step [stepControl]="documentoForm" label="Documentos">


    <ng-template matStepLabel><i class="fa fa-book fa-2x" aria-hidden="true"></i>
      Documentos</ng-template>

    <form class="my-form" [formGroup]="documentoForm">
      <div class="form-floating mb-3">
        <input type="file" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Documento1</label>
      </div>

      <div class="form-floating mb-3">
        <input type="file" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Documento2</label>
      </div>
      <div class="form-floating mb-3">
        <input type="file" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Documento3</label>
      </div>
    </form>

    <div class="text-center">
      <button class="btn btn-danger" mat-button matStepperPrevious>Regresar</button>
      <!-- <button mat-button (click)="stepper.reset()">Reset</button> -->
      <!-- <button type="submit" class="btn btn-success" mat-button>Enviar</button> -->
      <button class="btn btn-success" mat-button matStepperNext type="button">Enviar</button>


    </div>
  </mat-step>

  <mat-step label="Datos enviados"> <!--Vista de datos enviados correctamente-->


    <ng-template matStepLabel><i class="fa fa-check-square-o fa-2x" aria-hidden="true"></i>
      Fin</ng-template>

    <div class="container">

      <h1 class="text-center">Datos enviados correctamente!!!</h1>

      <div class="text-center mb-3">
        <img class="mx-auto rounded-circle" src="../../../../../assets/img/gif/verificado.gif" alt="Verficación"
          width="200px">
      </div>

    </div>

    <div class="text-center">
      <button type="button" class="btn btn-success" mat-button>Regresar</button>
    </div>
  </mat-step>

</mat-stepper>
