<button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
  {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
</button>

<mat-stepper [linear]="isLinear" #stepper>
  <mat-step label="a" [stepControl]="firstFormGroup">

    <ng-template matStepLabel>Aprendiz</ng-template>

    <form [formGroup]="personForm">
      <div class="form-floating mb-3">
        <input type="number" class="form-control" id="floatingInput" placeholder="name@example.com"
        (input)="onIdentificacionInput($event.target.value)" formControlName="identificacion" >
        <label for="floatingInput">Identificación</label>
      </div>

      <div *ngIf="validacionExistencia">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com"
            formControlName="nombre1" [(ngModel)]="personForm.value.nombre1">
          <label for="floatingInput">Primer Nombre</label>
        </div>

        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com"
            formControlName="nombre2" [(ngModel)]="personForm.value.nombre2">
          <label for="floatingInput">Segundo Nombre</label>
        </div>

        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com"
            formControlName="apellido1" [(ngModel)]="personForm.value.apellido1">
          <label for="floatingInput">Primer Apellido</label>
        </div>

        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com"
            formControlName="apellido2" [(ngModel)]="personForm.value.apellido2">
          <label for="floatingInput">Segundo Apellido</label>
        </div>

        <div class="form-floating mb-3">
          <input type="date" class="form-control" id="floatingInput" placeholder="name@example.com"
            formControlName="fechaNacimiento" [(ngModel)]="personForm.value.fechaNacimiento">
          <label for="floatingInput">Fecha de nacimiento</label>
        </div>

        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com"
            formControlName="direccion" [(ngModel)]="personForm.value.direccion">
          <label for="floatingInput">Dirección</label>
        </div>

        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com"
            formControlName="correo" [(ngModel)]="personForm.value.correo">
          <label for="floatingInput">Correo</label>
        </div>

        <div class="form-floating mb-3">
          <input type="number" class="form-control" id="floatingInput" placeholder="name@example.com"
            formControlName="telefono" [(ngModel)]="personForm.value.telefono">
          <label for="floatingInput">Teléfono</label>
        </div>
      </div>

      <div class="text-center">
        <button class="form-button btn btn-success" mat-button matStepperNext type="button">Seguir</button>
      </div>
    </form>



  </mat-step>
  <mat-step [stepControl]="secondFormGroup" label="Activos">


    <!-- <form [formGroup]="secondFormGroup">
      <mat-form-field appearance="fill">
        <mat-label>Address</mat-label>
        <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
               required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form> -->

    <form class="my-form" formGroup="activoForm">

      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Filtrar</label>
      </div>

      <!-- <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Programa</label>
      </div> -->
      <select class="form-select" [(ngModel)]="selectedPrograma" name="programa">
        <option *ngFor="let programaItem of programa" [value]="programaItem">{{ programaItem }}</option>
      </select>





      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Proyecto de Formación</label>
      </div>

      <div class="form-floating">
        <select class="form-select" id="tipoGrupo" aria-label="Floating label select example"
          formControlName="idTipoGrupo">
          <option selected>Selecionar tipo de grupo</option>
          <option *ngFor='let tipoGrupo of tipoGrupos' [ngValue]="tipoGrupo.id">{{tipoGrupo.nombreTipoGrupo}}
          </option>
        </select>
        <label for="tipoGrupo">Tipo de grupo</label>
        <!-- <div class="valid-feedback" *ngIf="!idTipoGrupo.hasError('required')">
          Valor válido
        </div>
        <div class="invalid-feedback">
          Por favor ingresé un valor válido para el tipo de grupo
        </div> -->
      </div>

    </form>

    <div class="text-center">
      <button class="btn btn-danger" mat-button matStepperPrevious>Atrás</button>

      <button class="btn btn-success" mat-button matStepperNext type="button">Seguir</button>
    </div>



  </mat-step>
  <mat-step>


    <ng-template matStepLabel>Documentos</ng-template>
    <!-- <p>You are now done.</p> -->



    <!-- <form [formGroup]="secondFormGroup">
      <mat-form-field appearance="fill">
        <mat-label>Address</mat-label>
        <input matInput formControlName="secondCtrl" placeholder="Documentos"
               required>
      </mat-form-field>
    </form> -->

    <form class="my-form">
      <div class="form-floating mb-3">
        <input type="file" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Documento1</label>
      </div>

      <div class="form-floating mb-3">
        <input type="file" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Documento2</label>
      </div>
      <div class="form-floating mb-3">
        <input type="file" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Documento3</label>
      </div>
    </form>




    <div class="text-center">
      <button class="btn btn-danger" mat-button matStepperPrevious>Regresar</button>
      <!-- <button mat-button (click)="stepper.reset()">Reset</button> -->
      <button type="submit" class="btn btn-success" mat-button>Enviar</button>

    </div>
  </mat-step>
</mat-stepper>
