<div class="demo-app">
  <div class="demo-app-main">

    <div class="demo-app-bar">
      <button (click)="handleWeekendsToggle()" *ngIf="calendarOptions.weekends else noShowWeekends"
        class="btn btn-primary">Ocultar fines de Semanas</button>
      <ng-template #noShowWeekends>
        <button (click)="handleWeekendsToggle()" class="btn btn-success">Ver Fin de Semanas</button>
      </ng-template>
    </div>
    <full-calendar #fullCalendar *ngIf="calendarVisible" [options]="calendarOptions">
      <ng-template #eventContent let-arg>
        <h2>{{ arg.timeText }} {{ arg.event.title}}:</h2>
        <p>
          {{arg.event.extendedProps.descripcion}}
        </p>
      </ng-template>
    </full-calendar>
  </div>
</div>