<div class="demo-app">
  <div class="demo-app-main">

    <div class="row">

      <label>Con fin de semana</label>
      <div class="col-sm-2">
        <app-custom-switch [size]="6" [checked]="calendarOptions.weekends"
          (change)="handleWeekendsToggle()"></app-custom-switch>
      </div>

    </div>
    <full-calendar #fullCalendar *ngIf="calendarVisible" [options]="calendarOptions">
      <ng-template #eventContent let-arg>
        <h2>{{ arg.timeText }} {{ arg.event.title}}:</h2>
        <p>
          {{arg.event.extendedProps.descripcion}}
        </p>
      </ng-template>
    </full-calendar>
  </div>
</div>