<div class="modal-body" >
  <div class="card-header">
    <strong>Registrar horario de infraestructura</strong>
  </div>
  <div class="card-body">
    <form class="procesoFormulario" [formGroup]="formHorarioInfra" class="was-validated" novalidate >
      
      
      <div class="form-floating mb-3">
        <select class="form-select" id="infraestrutura" aria-label="Floating label select example"
          formControlName="idInfraestructura" #infraestructuraSelect>
          <option selected>Selecionar infraestructura</option>
          <option *ngFor='let infraestructura of infraestructuras' [ngValue]="infraestructura.id">
            {{infraestructura.nombreInfraestructura}}</option>
        </select>
        <label for="infraestrutura">Infraestructura</label>
        <div class="valid-feedback" *ngIf="!infraestructuraField.hasError('required')">
          Valor válido
        </div>
        <div class="invalid-feedback">
          Por favor ingresé un valor válido para la infraestructura
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="form-floating mb-3">
            <input type="date" onkeyup="javascript:this.value=this.value.toUpperCase();" class="form-control"
              id="fechaInicial" placeholder="name@example.com" formControlName="fechaInicial" #fechaInicialInput>
            <label for="fechaInicial">Fecha inicio</label>
            <div class="valid-feedback" *ngIf="!fechaInicialHorarioField.hasError('required')">
              Valor válido
            </div>
            <div class="invalid-feedback">
              Por favor ingresé un valor válido para la fecha inicial
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-floating mb-3">
            <input type="date" onkeyup="javascript:this.value=this.value.toUpperCase();" class="form-control"
              id="floatingInput" placeholder="name@example.com" formControlName="fechaFinal" #fechaFinalInput>
            <label for="floatingInput">Fecha fin</label>
            <div class="valid-feedback" *ngIf="!fechaFinalHorarioField.hasError('required')">
              Valor válido
            </div> 
            <div class="invalid-feedback">
              Por favor ingresé un valor válido para la fecha final
            </div>
          </div>
        </div>
      </div>


      

    </form>
    <div class="card-footer text-center">
      <button type="submit" class="btn btn-sm btn-primary" (click)="enviarDatosAlPrimerModal()"
      [disabled]="formHorarioInfra.invalid"><!--(click)="guardarHorarioInfra()"-->
        <i class="fa fa-dot-circle-o"></i> Aceptar
      </button>
      <button type="reset" class="btn btn-sm btn-danger" (click)="closeModal()">
        <i class="fa fa-ban"></i>
        Cancelar
      </button>
    </div>
  </div>
</div>