<div class="modal-body">
  <div class="card-header">
    <strong>Registrar Competencia</strong>
  </div>
  <div class="card-body">
    <form class="competenciaFormulario" [formGroup]="formCompetencia" class="was-validated" novalidate>
      <div class="form-group row">
        <label class="col-md-4 col-form-label" for="name">Nombre Competencia</label>
        <div class="col-md-7">
          <input
            type="text"
            onkeyup="javascript:this.value=this.value.toUpperCase();"
            placeholder="Ingrese el nombre de la competencia"
            class="form-control is-valid"
            formControlName='nombreCompetencia'>
          <div class="valid-feedback" *ngIf="!nombreCompetenciaField.hasError('required')">
            Valor válido
          </div>
        </div>
        <div class="invalid-feedback">
          Por favor ingresé un valor válido para el nombre de la competencia
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-4 col-form-label" for="detalle">Detalle</label>
        <div class="col-md-7">
          <textarea type="text" rows="9" onkeyup="javascript:this.value=this.value.toUpperCase();"
            placeholder="Detalle..." class="form-control is-valid" formControlName='detalle'
            required></textarea>
          <div class="valid-feedback" *ngIf="!detalleField.hasError('required')">
            Valor valido
          </div>
        </div>
        <div class="invalid-feedback">
          Por favor ingrese un valor valido para el detalle
        </div>
      </div>
    </form>
    <div class="card-footer">
      <button
        type="submit"
        class="btn btn-sm btn-primary"
        (click)="guardarCompetencia()"
        [disabled]="formCompetencia.invalid">
        <i class="fa fa-dot-circle-o"></i> Aceptar
      </button>
      <button
        type="reset"
        class="btn btn-sm btn-danger"
        (click)="closeModal()">
        <i class="fa fa-ban"></i>
        Cancelar
      </button>
    </div>
  </div>
</div>

