<div class="div-principal col-lg-12 grid-margin stretch-card"></div>
<div class="card">
  <div class="card-header">
    <i class="fa fa-align-justify"></i>gestion Programas Registrados
    <select #nreg class="form-control col-lg-1" (change)="enviarNumeroRegistros($event.target.value) ">
      <option>10</option>
      <option>15</option>
      <option>20</option>
      <option>25</option>
    </select>
  </div>

  <div class="card-body">
    <div class="card-header">
      <strong>Gestion Programa</strong>
    </div>
    <div class="div table-container ">
      <div class="form-group col">
        <label class="col-md-4 col-form-label" for="idPrograma">Programa</label>
        <div class="col-md-12">
          <select class="form-control border-primary form-select" [(ngModel)]="selectedProgramId"
            (change)="capturarIdPrograma()" (ngModelChange)="filterProjects()">
            <option [ngValue]="null">Seleccionar programa </option>
            <option *ngFor='let programa of programas' [ngValue]="programa.id">{{programa.nombrePrograma}}</option>
          </select>
        </div>

        <div class="invalid-feedback">
          por favor ingresé un valor válido para programa
        </div><br>

        <table class="table table-striped table-hover table-responsive" *ngIf="selectedProgram">
          <tbody>
            <tr>
              <th scope="row">Nombre:</th>
              <td>{{selectedProgram.nombrePrograma}}</td>
              <th scope="row">Código:</th>
              <td>{{selectedProgram.codigoPrograma}}</td>
            </tr>

            <tr>
              <th scope="row">Tipo Programa:</th>
              <td>{{selectedProgram.tipoPrograma.nombreTipoPrograma}}</td>
              <th scope="row">Estado:</th>
              <td>{{selectedProgram.estado.estado}}</td>
            </tr>

            <tr>
              <th scope="row">Descripción:</th>
              <td>{{selectedProgram.descripcionPrograma}}</td>
              <th></th>
              <th></th>
            </tr>
          </tbody>
        </table>

        <!-- select para pryecto formativo -->
        <label class="col-md-4 col-form-label" for="idPrograma">Proyecto formativo</label>
        <div class="col-md-12">
          <select class="form-control border-primary form-select" [(ngModel)]="selectedProyectoId"
            (change)="capturarIdProyecto()">
            <option [ngValue]="null">Seleccionar programa </option>
            <option *ngFor="let proyecto of filteredProjects" [ngValue]="proyecto.id">{{proyecto.nombre}}</option>
          </select>
        </div><br>

        <!-- tabla de proyecto formativo -->
        <table class="table table-striped table-hover table-responsive" *ngIf="selectedProyecto">
          <tbody>
            <tr>
              <th scope="row">Nombre:</th>
              <td>{{selectedProyecto.nombre}}</td>
              <th scope="row">Código:</th>
              <td>{{selectedProyecto.codigo}}</td>
            </tr>

            <tr>
              <th scope="row">programa:</th>
              <td>{{selectedProyecto.Programas.nombrePrograma}}</td>
              <th scope="row"></th>
              <td></td>
            </tr>

          </tbody>
        </table>
      </div>
      <div class="card-header">

        <!--Para realizar los botones(etiquetas) de eliminar-->
        <label class="col-md-4 col-form-label">Actividad proyecto</label>
        <button class="btn btn-success rounded-circle m-5" style="position: relative; left: -300px;"
          (click)="agregarAp()">+</button>
        <div class="etiquet" style="display: flex; flex-wrap: wrap; padding: 30px; width: 100%;">
          <button *ngFor="let  ActividadProyecto of ActividadProyectos" class="btn btn-outline-primary btn-sm"
            style=" margin: 10px; width: 12%;" (click)="eliminarEtiquetaaaa(ActividadProyecto)"
            title="{{ ActividadProyecto.codigoAP }}">
            {{ ActividadProyecto.nombreActividadProyecto}}
            
            <i class="cil-x m-1"></i>
          </button>
        </div>
      </div>
      <!-- '''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''' -->
      <div class="form-group row"></div>
      <!-- '''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''' -->
      <div class="card-header">

        <!--Para realizar los botones(etiquetas) de eliminar-->
        <label class="col-md-4 col-form-label">Competencias</label>
        <button class="btn btn-success rounded-circle m-3" style="position: relative; left: -300px;"
          (click)="agregarC()">+</button>
        <div class="etiqueta" style="display: flex; flex-wrap: wrap; padding: 30px; width: 100%;">
          <button *ngFor="let Competencia of Competencias" class="btn btn-outline-primary btn-sm"
          
            style=" margin: 10px; width: 12%;" (click)="eliminarEtiqueta(Competencia)"
            title="{{ Competencia.nombreCompetencia }}">
            {{ Competencia.codigoCompetencia}}
            <i class="cil-x m-1"></i>
          </button>
        </div>
      </div>

      
          
      


    </div>

  </div>
  <!-- '''''''''''''''''''''''''''''''''''''' -->
  <app-custom-modal title="Gestión de competencias" [(show)]="showModalCompetencia">
    <app-competencias *ngIf="showModalCompetencia" [competencia]="Competencia" (store)="guardarCompetencia($event)"
      (cancel)="reset()">
    </app-competencias>
  </app-custom-modal>
  <!-- 00000000000000000000000000000000000000000000000000000000000 -->
  <app-custom-modal title="Gestión actividad Proyectos" [(show)]="showModalActividad">
    <app-add-actividad-proyecto *ngIf="showModalActividad" [actividadProyecto]="actividadProyecto"
      (store)="guardarProgramas($event)" (cancel)="reset()">
    </app-add-actividad-proyecto>
  </app-custom-modal>

</div>