<div class="modal-body">
  <div class="card-header">
    {{title}}
  </div>
  <div class="card-body">
    <form class="infrFormulario" [formGroup]="formInfra" class="was-validated" novalidate>

      <!--Campo para introducir el nombre de la infra estructura-->
      <div class="form-floating row">
        <input type="text" onkeyup="javascript:this.value=this.value.toUpperCase();" class="form-control"
          formControlName='nombreInfraestructura' id="nameF" required>
        <label for="nameF">
          Infraestructura
        </label>
        <div class="valid-feedback" *ngIf="!nombreInfraField.hasError('required')">
          Valor Válido
        </div>
        <div class="invalid-feedback">
          Por favor ingresé un valor válido para el nombre de la infraestructura
        </div>
      </div>
      <!--Campo para intruducir la capacidad del aula esta definida en cantida
      de personas-->
      <div class="form-floating row">
        <input type="number" class="form-control" (keydown)="onNumberInput($event)" formControlName='capacidad'
          id="capacidadF" required>
        <label for="capacidadF">
          Capacidad (Cantidad de personas)
        </label>
        <div class="valid-feedback" *ngIf="!capacidadField.hasError('required')">
          <div class="is-valid" *ngIf="!capacidadField.hasError('min') else capacidadPorDebajo">
            Valor Válido
          </div>
          <ng-template #capacidadPorDebajo>
            La capacidad debe ser mayor a 0
          </ng-template>
        </div>
        <div class="invalid-feedback">
          Por favor ingresé una capacidad válida
        </div>
      </div>

      <!--Elije una sede introduciendo su nombre-->
      <div class="form-floating row">
        <input class="form-control" type="text" id="sedeF" list="sede-list" (change)="selectIdSede($event)"
          name="idSede" formControlName="idSede" required>
        <datalist id="sede-list">
          <option *ngFor="let sede of sedes" [value]="sede.nombreSede">
            {{sede.nombreSede}}
          </option>
        </datalist>
        <label for="sedeF">
          Sede:
        </label>
        <div class="valid-feedback" *ngIf="!idSedeField.hasError('required')">
          <div class="is-valid" *ngIf="!idSedeField.hasError('inArray') else sedeNotExist">
            Valor válido
          </div>
          <ng-template #sedeNotExist>
              La sede no existe
          </ng-template>
        </div>
        <div class="invalid-feedback">
          Por favor ingresé una sede
        </div>
      </div>

      <!--Elije un area introduciendo su nombre-->
      <div class="form-floating row">
        <input class="form-control" type="text" id="areaF" list="area-list" (change)="selectIdArea($event)"
          name="idArea" formControlName="idArea" required>
        <datalist id="area-list">
          <option *ngFor="let area of areas" [value]="area.nombreArea">
            {{area.nombreArea}}
          </option>
        </datalist>
        <label for="areaF">
          Area:
        </label>
        <div class="valid-feedback" *ngIf="!idAreaField.hasError('required')">
          <div *ngIf="!idAreaField.hasError('inArray') else areaNotExist">
            Valor Válido
          </div>
          <ng-template #areaNotExist>
              El área ingresada no existe
          </ng-template>
        </div>
        <div class="invalid-feedback">
            Por favor ingrese un área
        </div>
      </div>

      <div class="form-floating row">
        <textarea type="text" id="descF" onkeyup="javascript:this.value=this.value.toLowerCase();" class="form-control"
          formControlName='descripcion'>
                  </textarea>
        <label for="descF">
          Descripción
        </label>
      </div>

    </form>
  </div>
  <div class="card-footer">
    <button type="submit" class="btn btn-sm btn-primary" (click)="guardarInfraestructura()"
      [disabled]="formInfra.invalid">
      <i class="fa fa-dot-circle-o"></i>
      Aceptar
    </button>
    <button type="reset" class="btn btn-sm btn-danger" (click)="closeModal()">
      <i class="fa fa-ban"></i>
      Cancelar
    </button>
  </div>
</div>