<div class="calendar-container">
  <view-calendar [grupo]="grupo" [grupos]="grupos" [gruposJornadas]="gruposJornada">
  </view-calendar>
  <app-list-calendario [gruposList]="grupos" [infraestructuras]="infraestructuras" [sedes]="sedes"
    (createSede)="createSede()" (createGrupo)="createGrupo()" (createPrograma)="createPrograma()"
    (createInfra)="createInfra()" (crearJornada)="createJornada();" (idGrupo)="getGrupoById($event)"
    (idInfraestructura)="getByIdInfra($event)" (idSede)="filterBySede($event)">
  </app-list-calendario>
</div>

<app-custom-modal title="Gestión Jornada" [(show)]="showModalJornada">
  <app-add-jornada *ngIf="showModalJornada" [jorna]="jornada" (store)="guardarJornada($event)"
    (cancelar)="closeFormJornada()">
  </app-add-jornada>
</app-custom-modal>

<app-custom-modal title="Sede" [(show)]="showFormSede">
  <app-sede-form *ngIf="showFormSede" [sede]="sede" [centrosFormacion]="centrosFormacion" [ciudades]="ciudades"
    [title]="'Crear Sede'" (store)="guardarSede($event)" (cancel)="closeFormSede()">
  </app-sede-form>
</app-custom-modal>

<app-custom-modal title="Grupos" [(show)]="showModalGrupo">
  <app-grupo-form *ngIf="showModalGrupo" [title]="'Añadir grupo'" [grupo]="grupo" [infraestructuras]="infraestructuras"
    [jornadas]="jornadas" [programas]="programas" [niveles]="niveles" [tipoGrupos]="tipoGrupos"
    [tipoFormaciones]="tipoFormaciones" [estadoGrupos]="estadoGrupos" [tipoOfertas]="tipoOfertas"
    (store)="guardarGrupo($event)" (cancel)="closeFormGrupo()">
  </app-grupo-form>
</app-custom-modal>

<app-custom-modal title="Programas" [(show)]="showModalPrograma">
  <app-add-programa *ngIf="showModalPrograma" [programa]="programa" (store)="guardarProgramas($event)"
    (cancel)="closeFormPrograma()">
  </app-add-programa>
</app-custom-modal>

<app-custom-modal title="Infraestructura" [(show)]="showFormInfr">
  <app-infraestructura-form *ngIf="showFormInfr" [areas]="areas" [sedes]="sedes" [title]="'Añadir Infraestructura'"
    (store)="guardarInfraestructura($event)" (cancel)="closeFormInfra()">
  </app-infraestructura-form>
</app-custom-modal>