<div class="modal-body">
    <div class="card-header">
      <strong>Registrar Proyecto</strong>
    </div>
    <div class="card-body">
      <form class="proyectoFormulario" [formGroup]="formProyecto" class="was-validated" novalidate>
        
  
        <!-- campos de nombre-->
        <div class="form-group row">
          <label class="col-md-4 col-form-label" for="nombre">Proyecto</label>
          <div class="col-md-7">
            <input
              type="text"
              onkeyup="javascript:this.value=this.value.toUpperCase();"
              placeholder="Ingrese el nombre del programa"
              class="form-control is-valid"
              formControlName='nombre'>
            <div class="valid-feedback" *ngIf="!nombreProyectoField.hasError('required')">
              Valor válido
            </div>
          </div>
          <div class="invalid-feedback">
            por favor ingresé un valor válido para el nombre
          </div>
        </div>
  
  
        <!-- campos de codigo programa-->
        <div class="form-group row">
          <label class="col-md-4 col-form-label" for="codigo">Código</label>
          <div class="col-md-7">
            <input
              type="text"
              onkeyup="javascript:this.value=this.value.toUpperCase();"
              placeholder="Ingrese el codigo del programa"
              class="form-control is-valid"
              formControlName='codigo'>
            <div class="valid-feedback" *ngIf="!codigoProyecto.hasError('required')">
              Valor válido
            </div>
          </div>
          <div class="invalid-feedback">
            por favor ingresé un valor válido para el codigo
          </div>
        </div>
  
  
        <!-- campo para programa -->
        <div class="form-group row">
          <label class="col-md-4 col-form-label" for="idPrograma">Programa</label>
          <div class="col-md-7">
            <select class="form-control is-valid" formControlName='idPrograma'>
              <option [ngValue]="null">Seleccionar programa </option>
              <option *ngFor='let programa of Programas' [ngValue]="programa.id">{{programa.nombrePrograma}}</option>
            </select>
            <div class="valid-feedback" *ngIf="!idPrograma.hasError('required')">
              Valor válido
            </div>
          </div>
          <div class="invalid-feedback">
            por favor ingresé un valor válido para programa
          </div>
        </div>
  
        
  
      </form>
      <div class="card-footer">
        <button
          type="submit"
          class="btn btn-sm btn-primary"
          (click)="guardarProyecto()"
          [disabled]="formProyecto.invalid">
          <i class="fa fa-dot-circle-o"></i> Aceptar
        </button>
        <button
          type="reset"
          class="btn btn-sm btn-danger"
          (click)="closeModal()">
          <i class="fa fa-ban"></i>
          Cancelar
        </button>
      </div>
    </div>
  </div>
