<div class="div-principal col-lg-12 grid-margin stretch-card">
  <div class="card style">
    <div class="card-header style">


      <i class="fa fa-align-justify"></i>Gestion de fichas  aprendices
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <input type="text" class="form-control" [(ngModel)]="busqueda" (input)="filtrarFichas()" placeholder="Buscar...">
            <ul class="list-group mt-2">
              <li class="list-group-item" *ngFor="let ficha of fichasFiltradas" (click)="seleccionarFicha(ficha)">
                {{ ficha.nombre }}
              </li>
            </ul>
          </div>
          <p> Cedula</p>
          <div class="col-lg-6">
            <input type="text" class="form-control"  placeholder="Buscar...">
            <ul class="list-group mt-2">
              <li class="list-group-item" *ngFor="let ficha of fichasFiltradas" (click)="seleccionarFicha(ficha)">
                {{ ficha.nombre }}
              </li>
            </ul>
          </div>



        </div>


        <div class="row mt-4" *ngIf="fichaSeleccionada">
          <div class="col-lg-12">
            <!-- Aquí puedes colocar el componente que deseas asignar la ficha seleccionada -->
            <p>Ficha seleccionada: {{ fichaSeleccionada.nombre }}</p>
          </div>
        </div>
      </div>







    </div>
    <div class="card-body">
      <div class="div table-container style">
      <p>vandssssssssssss</p>
      </div>
    </div>
  </div>
</div>

