<div class="modal-body">
    <div class="card-header">
        <strong>{{title}}</strong>
    </div>
    <div class="card-body align-items-center">
        <form class="grupoForm" [formGroup]="formGrupo" class="was-validated" novalidate>

            <!--Campo para seleccionar un programa-->
            <div class="form-floating mb-3">
                <input (change)="selectIdPrograma($event)" class="form-control" list="programa-list" type="text"
                    formControlName="idPrograma" id="idPrograma" required>
                <label for="idPrograma">Programa</label>
                <datalist id="programa-list">
                    <option *ngFor='let programa of programas' [value]="programa.nombrePrograma"></option>
                </datalist>
                <div class="valid-feedback" *ngIf="!idProgramaField.hasError('required')">
                    Valor válido
                </div>
                <div class="invalid-feedback">
                    Por favor ingresé un valor válido para el programa
                </div>
            </div>

            <!--Campo para introducir el nombre del grupo-->
            <div class="form-floating mb-3">
                <input type="Text" onkeyup="javascript:this.value=this.value.toUpperCase();" class="form-control"
                    id="nombreGrupo" formControlName='nombreGrupo'>
                <label for="nombreGrupo">Número de ficha / nombre</label>
                <div class="valid-feedback" *ngIf="!nombreGrupoField.hasError('required')">
                    Valor válido
                </div>
                <div class="invalid-feedback">
                    Por favor ingresé un valor válido para el nombre del grupo
                </div>
            </div>

            <!--Horario Infraestructura-->
            <div class="row justify-content-center">
                <div class="card-header row-md-10 row justify-content-between"
                    *ngIf="!showFormHorario else formHorario">
                    <p class="col col-md-10 h4 mb-0">Añadir Infraestructura</p>
                    <button
                        class="col col-sm-1 btn btn-success rounded-circle justify-content-center aling-items-center"
                        type="button" id="addInfraestructura" (click)="agregarHorarioInfraestructura()">+</button>
                </div>
                <ng-template class="row" #formHorario>
                    <app-grupo-infra-form (storeInfr)="addInfraestructura($event)"
                        (cancelInfr)="cancelarHorarioInfraestructura()" [infraestructuras]="infraestructuras">
                    </app-grupo-infra-form>
                </ng-template>
                <div class="card-body">
                    <p class="h4">Infraestructuras</p>
                    <ng-container *ngFor="let horario of horariosInfra">
                        <app-grupo-infra (remove)="removeInfraestructura($event)" [infraestructura]="horario">
                        </app-grupo-infra>
                    </ng-container>
                </div>
            </div>

            <!--Campo para selecionar el nivel de formacion-->
            <div class="form-floating mb-3">
                <input (change)="selectIdNivel($event)" class="form-control" list="nivel-list" type="text"
                    formControlName="idNivel" id="idNivel" required>
                <label for="idNivel">Nivel de formación</label>
                <datalist id="nivel-list">
                    <option *ngFor='let nivel of niveles' [value]="nivel.nivel"></option>
                </datalist>
                <div class="valid-feedback" *ngIf="!idNivelField.hasError('required')">
                    Valor válido
                </div>
                <div class="invalid-feedback">
                    Por favor ingresé un valor válido para la nivel
                </div>
            </div>

            <!--Campo para seleccionar el tipo de formacion-->
            <div class="form-floating mb-3">
                <input (change)="selectIdTipoFormacion($event)" class="form-control" list="tFormacion-list" type="text"
                    formControlName="idTipoFormacion" id="idTipoFormacion" required>
                <label for="idTipoFormacion">Tipo de formación</label>
                <datalist id="tFormacion-list">
                    <option *ngFor='let tipoFormacion of tipoFormaciones' [value]="tipoFormacion.nombreTipoFormacion">
                    </option>
                </datalist>
                <div class="valid-feedback" *ngIf="!idTipoFormacionField.hasError('required')">
                    Valor válido
                </div>
                <div class="invalid-feedback">
                    Por favor ingresé un valor válido para el tipo de formación
                </div>
            </div>

            <div class="form-floating mb-3">
                <input (change)="selectIdEstado($event)" class="form-control" list="estado-list" type="text"
                    formControlName="idEstado" id="idEstado" required>
                <label for="idEstado">Estado de formación</label>
                <datalist id="estado-list">
                    <option *ngFor='let estado of estadoGrupos' [value]="estado.nombreEstado"></option>
                </datalist>
                <div class="valid-feedback" *ngIf="!idEstadoField.hasError('required')">
                    Valor válido
                </div>
                <div class="invalid-feedback">
                    Por favor ingresé un valor válido para el estado
                </div>
            </div>

            <div class="form-floating mb-3">
                <input (change)="selectIdTipoOferta($event)" class="form-control" list="tOferta-list" type="text"
                    formControlName="idTipoOferta" id="idTipoOferta" required>
                <label for="idTipoOferta">Tipo de oferta formativa</label>
                <datalist id="tOferta-list">
                    <option *ngFor='let tipoOferta of tipoOfertas' [value]="tipoOferta.nombreOferta"></option>
                </datalist>
                <div class="valid-feedback" *ngIf="!idTipoOfertaField.hasError('required')">
                    Valor válido
                </div>
                <div class="invalid-feedback">
                    Por favor ingresé un valor válido para el tipo de oferta
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-floating mb-3">
                        <input type="date" class="form-control" id="fechaInicial" formControlName='fechaInicial'
                            #fechaInicialInput>
                        <label for="fechaInicial">Fecha inicial lectiva</label>
                        <div class="valid-feedback" *ngIf="!fechaInicialField.hasError('required')">
                            Valor válido
                        </div>
                        <div class="invalid-feedback">
                            Por favor ingresé un valor válido para la fecha inicial
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-floating mb-3">
                        <input type="date" class="form-control" id="floatingInput" formControlName='fechaFinal'
                            required>
                        <label for="floatingInput">Fecha fin lectiva</label>
                        <div class="valid-feedback" *ngIf="!fechaFinalField.hasError('required')">
                            Valor válido
                        </div>
                        <div class="invalid-feedback">
                            Por favor ingresé un valor válido para la fecha final
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-sm-10">
                    <div class="form-floating mb-3">
                        <input (change)="selectIdTipoGrupo($event)" class="form-control" list="tGrupo-list" type="text"
                            formControlName="idTipoGrupo" id="idTipoGrupo" required>
                        <label for="idTipoGrupo">Tipo de Grupo</label>
                        <datalist id="tGrupo-list">
                            <option *ngFor='let tipoGrupo of tipoGrupos' [value]="tipoGrupo.nombreTipoGrupo"></option>
                        </datalist>
                        <div class="valid-feedback" *ngIf="!idTipoGrupoField.hasError('required')">
                            Valor válido
                        </div>
                        <div class="invalid-feedback">
                            Por favor ingresé un valor válido para el tipo de grupo
                        </div>
                    </div>
                </div>
                <div class="col-sm-2 mt-2">
                    <button (click)="agregarTipoGrupo()" type="button" class="btn btn-success rounded-circle">+</button>
                </div>
                <app-tipogrupos *ngIf="showFormTipoG" [tipoGrupos]="tipoGrupos" (store)="guardarTipoGrupo($event)"
                    (cancel)="cancelarTipoGrupo()">
                </app-tipogrupos>
            </div>

            <div class="form-floating">
                <textarea class="form-control" onkeyup="javascript:this.value=this.value.toUpperCase();"
                    style="height: 100px" placeholder="Leave a comment here" id="floatingTextarea"
                    formControlName='observacion' required></textarea>
                <label for="floatingTextarea">Observación</label>
                <div class="valid-feedback" *ngIf="!observacionField.hasError('required')">
                    Valor valido
                </div>
                <div class="invalid-feedback">
                    Por favor ingrese un valor valido para la descripción
                </div>
            </div>


            <div class="card">
                <div class="card-header">
                    <strong> Seleccione la jornada </strong>
                </div>
                <div class="card-body">

                    <div class="row row-cols-3">
                        <div class="col">
                            <label class="pointer">
                                <app-custom-switch [size]="5" [checked]="allJornadas"
                                    (checkedChange)="changeAllJornadas($event)">
                                </app-custom-switch>
                                Todas
                            </label>
                        </div>
                        <div class="col-md-3" *ngFor="let jor of jornadas; let i = index;">
                            <label class="pointer">
                                <app-custom-switch [size]="5" [checked]="jor.checked"
                                    (checkedChange)="changeJornada($event, i)" id="check{{ jor.id }}">
                                </app-custom-switch>
                                {{jor.nombreJornada}}
                            </label>
                        </div>
                    </div>
                </div>
            </div>

        </form>

        <div class="card-footer text-center">
            <button type="submit" class="btn btn-success" (click)="guardarGrupo()">
                <i class="fa fa-dot-circle-o"></i> Aceptar
            </button>
            <button type="reset" class="btn btn-danger" (click)="closeModal()">
                <i class="fa fa-ban"></i>
                Cancelar
            </button>
        </div>
    </div>
</div>
