<app-grupos-list

    [grupos]="grupos"
    (create)="crearGrupo()"
    (update)="actualizarGrupo($event)"
    (delete)="eliminarGrupo($event)">


</app-grupos-list>

<app-custom-modal
    title="Gestionar Grupos"
    [(show)]="showFormGrupo">

    <app-grupo-form
        *ngIf="showFormGrupo"
        [title]="formTitle"
        [grupo]="grupo"
        [infraestructuras]="infraestructuras"
        [jornadas]="jornadas"
        [programas]="programas"
        [niveles]="nivelFormaciones"
        [tipoGrupos]="tipoGrupos"
        [tipoFormaciones]="tipoFormaciones"
        [estadoGrupos]="estadoGrupos"
        [tipoOfertas]="tipoOfertas"
        (store)="guardarGrupo($event)"
        (cancel)="reset()">
    </app-grupo-form>

<app-custom-modal>
